@media screen and (max-width: 900px) {
	.portfolioContent {
        margin-top: 15px;
        overflow-y: auto;
        height: 500px;
        border: groove;
        border-width: 8px;
        width: calc(100vw - 60px);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 900px) {
	.portfolioContent {
        margin-top: 15px;
        overflow-y: auto;
        height: 500px;
        border: groove;
        border-width: 8px;
        width: 900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}